@charset "utf-8";
/* CSS Document */


#container {
	width: 1000px;
	height: 800px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
}

#header {
	position:relative;
	width:301px;
	height: 104px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	background-image:url(webwarrior-02.png);

}



#leftguy {
	float:left;
	padding-right: 50px;

}

#leftguyhealth {
text-alight:center;
	height: 30px;
	width: 300px;
	margin-right:auto;
	margin-left:auto;
}

#center {
	float:left;
	width:300px;
	padding-right: 50px;
	
	
}

.centerThisShit {
text-align:center;
	height: 30px;
	width: 300px;
	margin-left:auto;
	margin-left:auto;
	padding-bottom:10px;
}

#rightguy {
	float:left;
}

#rightguyhealth {
text-align:center;
margin-left:auto;
margin-right:auto;
	height: 30px;
	width: 300px;
}

#actionbar {
	width: 304px;
	height: 50px;
	margin-left:auto;
	margin-right:auto;
	padding-top: 100px;
	
}


.standard {
	background-color:white;
}

.highlighted {
	background-color:green;
}

* {
margin:0;
padding:0;	
}
